body {
  display: flex;
  justify-content: center;
  background-color: blue;
}
.main {
  border-radius: 30px;
  padding: 20px;
  height: 100%;
  width: auto;
  background-color: white;
}
#addbtn {
  margin-bottom: 5px;
  border-radius: 25px;
  border: none;
  text-align: left;
  font-size: 15px;
  padding: 10px 28px;
  color: white;
  background-color: blue;
  width: 120px;
}
#addbtn:hover {
  background-color: brown;
  color: white;
}
#showInactive {
  justify-content: space-between;
  margin-top: 10px;
}
#header {
  display: flex;
  justify-content: space-between;
}
.headrow {
  text-align: center;
  background-color: white;
}
.rows {
  background-color: #d4f1f9;
  border-radius: 20px;
}
tr {
  display: block;
  margin-bottom: 10px;
}
th,
td {
  padding: 7px;
  width: 150px;
  text-align: center;
}
#view {
  color: blue;
  text-decoration: none;
  display: flex;
  margin: 10px;
  font-size: 15px;
  height: 25px;
  width: 40px;
}
#edit {
  color: green;
  text-decoration: none;
  display: flex;
  margin: 10px;
  font-size: 15px;
  height: 25px;
  width: 40px;
}
#delete {
  color: red;
  text-decoration: none;
  display: flex;
  margin: 10px;
  font-size: 15px;
  height: 25px;
  width: 40px;
}
.action {
  display: flex;
  width: 100%;
}

td:first-child {
  border-radius: 30px;
}

td:last-child {
  border-radius: 30px;
}

.fa-eye {
  color: blue;
}
.fa-pen-to-square {
  color: green;
}
.fa-trash {
  color: red;
}
